// Specific CSS for your home-page
body {
  background-color: rgb(245, 245, 245);
}

#carouselExampleControls {
  width: 250px;
  height: 250px;
}

// .sign-up {
//   border: solid;
//   border-color: black;
// }

// .sign-in {
//   border: solid;
//   border-color: black;
// }
