<div class="container-fluid min-vh-100">
  <div class="container-form">
    <div class="card-form">
      <%= simple_form_for @user do |f| %>
        <%= f.input :description, label: 'Tu collectionnes les cartes Pokémon ou tu es un accro du sport ? Décris toi !' %>
        <%= f.submit 'Modifier mon profil', id: 'btn-form' %>
      <% end %>
    </div>
  </div>
</div>
