.card {
  margin-left: 50px;
  text-align: center;
  padding: 10px;
}

.card-form{
  text-align: center;
  padding: 10px;
}

.card-offer {
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  padding-bottom: 0px;
  position: relative;
}
.cards-offers {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-grow: 1;
}

.card-image {
  background-size: cover;
  background-position: center;
  height: 250px;
  display: flex;
  align-items: end;
  padding: 10px;
}

.card-skill {
  background-color: blue;
  border-radius: 4px;
  padding: 4px;

}

.card-description {
  padding: 10px;
}

.btn-skill {
  text-align: center;
  border: 1px solid transparent;
  user-select: none;
  display: inline-block;
  border-radius: 5px;
  background-color: #F58744;
  vertical-align: middle;
  padding: 6px 10px;
  color: white;
  opacity: 0.8;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.card-link {
  position: absolute;
  top: 150px;
  right: 120px;
  opacity: 0;
  text-decoration: none;
}

.card-offer:hover {
  .card-link {
    opacity: 1;
    color:#F58744;
    text-decoration: underline;
    font-size: 20px;
    text-shadow: none;
  }
}

a {
  color:#F58744;
  text-decoration: underline;
  text-shadow: none;
}

a:hover {
  color: white;
}
